<mat-sidenav-container fullscreen hasBackdrop="false">

    <mat-sidenav mode="side" opened>

        <mat-nav-list>

            <img src="assets/img/logo.png" alt="Logo Calier" style="max-width: 200px; height: auto; margin-top: 20px; margin-bottom: 30px;">

            <div class="flex-container">

                <a routerLink="./inicio" mat-list-item>
                    <span class="navbar-item" color="primary">Inicio</span>
                </a>
                <a routerLink="./ingredientes" mat-list-item>
                    <span class="navbar-item">Ingredientes</span>
                </a>
                <a routerLink="./cdi" mat-list-item>
                    <span class="navbar-item">Centro de Innovación</span>
                </a>
                <a routerLink="./representadas" mat-list-item>
                    <span class="navbar-item">Representadas</span>
                </a>
                <a routerLink="./nosotros" mat-list-item>
                    <span class="navbar-item">Nosotros</span>
                </a>
                <a routerLink="./contacto" mat-list-item>
                    <span class="navbar-item">Contacto</span>
                </a>

            </div>

        </mat-nav-list>

    </mat-sidenav>

    <router-outlet></router-outlet>
    <a href="https://api.whatsapp.com/send?phone=3173700878" target="_blank">
        <img src="assets/img/wsp.png" alt="Whastapp Icon" class="whastapp">
    </a>
    
</mat-sidenav-container>
