/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-list {
    justify-content: center;
}

.navbar-item {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 32, 96);
    font-size: large;
}

.flex-container {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.padre {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/iniciobackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  color: rgb(0, 32, 96);
}

.main-title {
  font-size: 3rem;
  line-height: 4rem;
  margin: 15px;
}

.sub-title {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 15px;
}

.triangle1 {
  position: fixed;
  top: 0px;
  right: 0px;
}

.triangle2 {
  transform: rotate(-180deg);
  position: fixed;
  bottom: 0px;
  left: 200px;
} 

.whastapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}